<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <script src="/js/alpine.min.js" defer></script>
  <script src="/js/htmx.min.js"></script>
  <title><%= title %> </title>
</head>

<body>
  <header class="header">
    <a class="logo" href="/">
      <img src="/assets/scale.svg" alt="logo" width="50" height="50">
      <span><%= title %> </span>
    </a>
    <% if (user) { %>
    <div class="badge">
      <button class="btn-transparent" type="button">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 0 0 5.454-1.31A8.967 8.967 0 0 1 18 9.75V9A6 6 0 0 0 6 9v.75a8.967 8.967 0 0 1-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 0 1-5.714 0m5.714 0a3 3 0 1 1-5.714 0" />
        </svg>

      </button>
      <div class="profile">
        <img class="avatar" src="/avatars/<%= user.avatarUrl %>" alt="profile">
        <div class="info">
          <b class="name"><%= user.lastName + ' ' + user.firstName[0] %>.</b><br>
          <span class="role"><%= user.role %></span>
        </div>
        <svg viewBox="0 0 24 24">
          <use href="/assets/icons.svg#chevron_down" />
        </svg>
      </div>
    </div>
    <% } %>
  </header>