<a href="<%= link %> " class="card" title="<%= description %> ">
  <div class="icon">
    <svg viewBox="0 0 25 25">
      <use href="/assets/icons.svg#<%= icon %>"/>
    </svg>
  </div>
  <div class="content">
    <h3><%= title %></h3>
    <p><%= description %></p>
  </div>
</a>