<%- include('../../partials/header.ejs') %>
<main class="main">
  <header>
    <h1>Dashbaord <%= user?.role %></h1>
    <div class="banner">
      <p>
        Welcome, <b><%= user?.firstName %></b>! Today is <%=
        luxon.DateTime.now().toLocaleString(luxon.DateTime.DATETIME_MED) %>.
      </p>
    </div>
  </header>
  <div class="cards">
    <% cardData.forEach(card => {%>
      <%- include('../../components/card-admin', card) %>
    <% })%>
  </div>
</main>
<%- include('../../partials/footer.ejs') %>