<%- include('../../partials/header.ejs') %>
<style>
  .card-ledger-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(150px, 1fr));
    gap: 15px;
    padding: 1rem;
  }

  .card-ledger-item {
    background-color: var(--background-color);
    box-shadow: var(--box-shadow-2);
    padding: 1rem;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 15px;
    position: relative;
  }

  .card-ledger-item .client {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .card-ledger-item .btn-transparent {
    display: block;
    position: absolute;
    right: 2%;
    top: 20px;
    background-color: var(--background-color);
    font-size: 15px;
    padding: 0;
    border-radius: 6px;
    aspect-ratio: 1;
    height: 40px;
    width: 20px;
  }

  .card-ledger-item .title {
    background: #dddfe0;
    padding: 1rem;
    border-radius: 6px;
  }

  .card-ledger-item .client img {
    width: 40px;
    height: 40px;
    padding: 0.5rem;
    border-radius: 50%;
    aspect-ratio: 1;
    background-color: #333;
  }

  .controls {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }

  .controls .controls-action {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .action {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    gap: 15px;
  }

  .dropdown {
    position: absolute;
    right: -2%;
    top: 60px;
    background-color: var(--background-color);
    box-shadow: var(--box-shadow-2);
    padding: 0.5rem;
    border-radius: 3px;
    z-index: 1;
  }

  .dropdown li {
    padding: .5rem;
    cursor: pointer;
  }

  .dropdown li:hover {
    background-color: #dddfe03e;
  }

  .dropdown li:last-child {
    color: red;
  }

  .modal.show {
    margin: 2% auto;
    max-width: 750px;
  }

  .modal.show .ledger-show {
    width: 100%;
  }
  ._container_1lyn8_1{
    padding: 1rem;
    max-width: 500px;
  }
</style>
<main class="body-with-sidebar">
  <menu class="sidebar">
    <li><a href="/ledgers">All Legal Case</a></li>
    <li><a href="/treatments">Unassigned</a></li>
    <li><a href="">Need Review</a></li>
    <li><a href="">Assigned</a></li>
    <li><a href="">Completed</a></li>
    <li><a href="/clients">Clients</a></li>
  </menu>

  <div class="ledgers" x-data="LedgerApp(<%=JSON.stringify(ledgers.data)%>)">
    <div class="controls">
      <h1>Dossier clients (<span x-text="ledgers.length"></span>)</h1>
      <div class="controls-action">
        <%- include('../../components/search-field.ejs') %>
        <button type="button" @click="openModal()">Add Legal Case</button>
      </div>
    </div>
     <div class="_container_1lyn8_1">
      <h4>Gére votre les dossiers client ici</h4>
      <p>Réinventez chaque dossier client en un histoire de succès: une gestion agile pour des relation sur-mesure</p>
    </div>
    <div class="card-ledger-list">
      <template x-for="ledger in findLedger" :key="ledger.id">
        <div class="card-ledger-item" :data-reference="ledger.reference">
          <button @click="toggleDropdown(ledger.id)" type="button" class="btn-transparent">⋮</button>
          <div class="dropdown" x-show="activeDropdown === ledger.id" @click.outside="activeDropdown = null">
            <ul>
              <li>Assigne dossier</li>
              <li hx-on:click="document.querySelector('.modal.show').showModal()" :hx-get="`/ledgers/${ledger.id}`" hx-target=".content-modal" hx-select=".ledger-show">Lire dossier</li>
              <li>Modifier</li>
              <li>Supprimer</li>
            </ul>
          </div>
          <h3 class="title" x-text="ledger.title">
          </h3>
          <div class="client">
            <img src="/assets/profile.svg" alt="">
            <div class="client_info">
              <b x-text="ledger.client.firstName + ' ' + ledger.client.lastName "></b><br>
              <span x-text="ledger.client.email"></span>
            </div>
          </div>
          <div class="action">
            <button type="button" class="button" x-text="ledger.status"></button>
            <button type="button" class="button" x-text="ledger.caseType"></button>
          </div>
          </ldiv>
      </template>
    </div>
  </div>


</main>
<dialog class="modal ledger">
  <div class="modal-header">
    <h2>Ouverture du dossier <a id="client"></a></h2>
    <button hx-on:click="document.querySelector('.modal').close()" class="btn-transparent">&times;</button>
  </div>
  <div class="content">
    <div class="contenair-client-list">
      <h4>Choisi votre client</h4>
      <div class="clients-list" x-data="ClientManager(<%= JSON.stringify(clients)%>)">
        <%- include('../../components/search-field.ejs') %>
        <ul>
          <template x-for="client in findClient">
            <li class="client-item" @click="selectedClient(client.id, client.firstName)">
              <div class="inital" x-text="client.firstName[0] + '' + client.lastName[0]"></div>
              <p>
                <b x-text="client.firstName + ' ' + client.lastName"></b><br>
                <span x-text="client.email"></span>
              </p>

            </li>
          </template>
        </ul>
      </div>
    </div>
    <form class="form" action="/ledgers/new" method="post">
      <% inputLegalCases.forEach(input => { %>
      <%- include('../../components/input.ejs', input) %>
      <% }) %>
      <input type="hidden" name="clientId" id="clientId" required>
      <button type="submit">Enregistre</button>
    </form>
  </div>
</dialog>
<dialog class="modal show">
  <div class="modal-header">
    <h2>Lectur dossier</h2>
    <button hx-on:click="document.querySelector('.modal.show').close()" class="btn-transparent">&times;</button>
  </div>
  <div class="content-modal">...</div>
</dialog>
<script>
  function ClientManager(propos) {
    return {
      clients: propos,
      searchQuery: '',

      selectedClient(id, names) {
        document.getElementById('clientId').value = id
        document.getElementById('client').setAttribute('href', `/clients/${id}`)
        document.getElementById('client').innerText = names
        this.searchQuery = names

      },



      findClient() {
        return this.clients.filter((cli) => cli.firstName.toLocaleLowerCase()
          .includes(this.searchQuery.toLocaleLowerCase()) ||
          cli.lastName.toLocaleLowerCase()
          .includes(this.searchQuery.toLocaleLowerCase())
        )
      }
    }
  }

  function LedgerApp(data) {
    return {
      searchQuery: '',
      ledgers: data,
      modal: document.querySelector('.modal'),
      activeDropdown: null,
      toggleDropdown(id) {
        this.activeDropdown = this.activeDropdown === id ? null : id;
      },
      findLedger() {
        return this.ledgers.filter(
          (ledger) =>
          ledger.title
          .toLocaleLowerCase()
          .includes(this.searchQuery.toLocaleLowerCase()) ||
          ledger.caseType
          .toLocaleLowerCase()
          .includes(this.searchQuery.toLocaleLowerCase()) ||
          ledger.reference
          .toLocaleLowerCase()
          .includes(this.searchQuery.toLocaleLowerCase()) ||
          ledger.status
          .toLocaleLowerCase()
          .includes(this.searchQuery.toLocaleLowerCase()) ||
          ledger.client.firstName
          .toLocaleLowerCase()
          .includes(this.searchQuery.toLocaleLowerCase()) ||
          ledger.client.lastName
          .toLocaleLowerCase()
          .includes(this.searchQuery.toLocaleLowerCase())
        );
      },
      openModal() {
        this.modal.showModal()
      },
    };
  }
</script>
</body>

</html>