<%- include('../../partials/header.ejs') %>
<style>
  .card-ledger-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(150px, 1fr));
    gap: 15px;
    padding: 1rem;
  }

  .card-ledger-item {
    background-color: var(--background-color);
    box-shadow: var(--box-shadow-2);
    padding: 1rem;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 15px;
  }

  .card-ledger-item .client {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .card-ledger-item .title {
    background: #dddfe0;
    padding: 1rem;
    border-radius: 6px;
  }

  .card-ledger-item .client img {
    width: 40px;
    height: 40px;
    padding: 0.5rem;
    border-radius: 50%;
    aspect-ratio: 1;
    background-color: #333;
  }

  .controls {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .controls .controls-action{
    display: flex;
    align-items: center;
    gap: 15px;
  }
</style>
<main class="body-with-sidebar">
  <menu class="sidebar">
    <li><a href="">Unassigned</a></li>
    <li><a href="">Need Review</a></li>
    <li><a href="/treatments">Assigned</a></li>
    <li><a href="">Completed</a></li>
    <li><a href="/clients">Clients</a></li>
  </menu>

  <div class="ledgers" x-data="LedgerApp(<%=JSON.stringify(ledgers.data)%>)">
    <div class="controls">
      <h1>Dossier clients (<span x-text="ledgers.length"></span>)</h1>
      <div class="controls-action">
        <%- include('../../components/search-field.ejs') %>
        <button type="button" @click="openModal()">Add Legal Case</button>
      </div>
    </div>
    <div class="card-ledger-list">
      <template x-for="ledger in findLedger" :key="ledger.id">
        <div class="card-ledger-item" :data-reference="ledger.reference">
          <h3 class="title" x-text="ledger.title"></h3>
          <div class="client">
            <img src="/assets/profile.svg" alt="">
            <div class="client_info">
              <b x-text="ledger.client.firstName + ' ' + ledger.client.lastName "></b><br>
              <span x-text="ledger.client.email"></span>
            </div>
          </div>
          <button type="button" class="button">
            <a :href="'/ledgers/'+ ledger.id">Voir</a>
          </button>
          </ldiv>
      </template>
    </div>
  </div>


</main>
<dialog class="modal ledger">
  <div class="modal-header">
    <h2>Ouverture du dossier <a id="client"></a></h2>
    <button hx-on:click="document.querySelector('.modal').close()" class="btn-transparent">&times;</button>
  </div>
  <div class="content">
    <div class="contenair-client-list">
      <h4>Choisi votre client</h4>
      <div class="clients-list" x-data="ClientManager(<%= JSON.stringify(clients)%>)">
        <%- include('../../components/search-field.ejs') %>
        <ul>
          <template x-for="client in findClient">
            <li class="client-item" @click="selectedClient(client.id, client.firstName)">
              <div class="inital" x-text="client.firstName[0] + '' + client.lastName[0]"></div>
              <p>
                <b x-text="client.firstName + ' ' + client.lastName"></b><br>
                <span x-text="client.email"></span>
              </p>

            </li>
          </template>
        </ul>
      </div>
    </div>
    <form class="form" action="/ledgers/new" method="post">
      <% inputLegalCases.forEach(input => { %>
      <%- include('../../components/input.ejs', input) %>
      <% }) %>
      <input type="hidden" name="clientId" id="clientId" required>
      <button type="submit">Enregistre</button>
    </form>
  </div>
</dialog>
<script>
  function ClientManager(propos) {
    return {
      clients: propos,
      searchQuery: '',
      selectedClient(id, names) {
        document.getElementById('clientId').value = id
        document.getElementById('client').setAttribute('href', `/clients/${id}`)
        document.getElementById('client').innerText = names
        this.searchQuery = names

      },

      findClient() {
        return this.clients.filter((cli) => cli.firstName.toLocaleLowerCase()
          .includes(this.searchQuery.toLocaleLowerCase()) ||
          cli.lastName.toLocaleLowerCase()
          .includes(this.searchQuery.toLocaleLowerCase())
        )
      }
    }
  }

  function LedgerApp(data) {
    return {
      query: '',
      ledgers: data,
      modal: document.querySelector('.modal'),

      findLedger() {
        return this.ledgers.filter(
          (ledger) =>
          ledger.title
          .toLocaleLowerCase()
          .includes(this.query.toLocaleLowerCase()) ||
          ledger.caseType
          .toLocaleLowerCase()
          .includes(this.query.toLocaleLowerCase()) ||
          ledger.reference
          .toLocaleLowerCase()
          .includes(this.query.toLocaleLowerCase()) ||
          ledger.status
          .toLocaleLowerCase()
          .includes(this.query.toLocaleLowerCase()) ||
          ledger.client.firstName
          .toLocaleLowerCase()
          .includes(this.query.toLocaleLowerCase()) ||
          ledger.client.lastName
          .toLocaleLowerCase()
          .includes(this.query.toLocaleLowerCase())
        );
      },
      openModal() {
        this.modal.showModal()
      },
    };
  }
</script>
</body>

</html>