<%- include('../../partials/header.ejs') %>
<main class="main-ledgers">
  <menu class="sidebar">
    <li><a href="">Unassigned</a></li>
    <li><a href="">Need Review</a></li>
    <li><a href="/treatments">Assigned</a></li>
    <li><a href="">Completed</a></li>
    <li><a href="/clients">Clients</a></li>
  </menu>

  <div class="ledgers" x-data="LedgerApp(<%=JSON.stringify(ledgers.data)%>)">
    <div class="controls">
      <h1>Dossier clients (<span x-text="ledgers.length"></span>)</h1>
      <input type="search" x-model="query" />
      <button type="button" @click="openModal()">Add Legal Case</button>
    </div>
    <template x-for="ledger in findLedger" :key="ledger.id">
      <li>
        <span x-text="ledger.title"></span>
        <span x-text="ledger.reference"></span>
        <span x-text="ledger.client.firstName"></span>
        <span x-text="ledger.client.lastName"></span>
        <a :href="'/ledgers/'+ ledger.id">Voir</a>
      </li>
    </template>
  </div>


</main>
<dialog class="modal ledger">
  <div class="modal-header">
    <h2>Ouverture du dossier <a id="client"></a></h2>
    <button class="btn-transparent">&times;</button>
  </div>
  <div class="content">
    <div class="contenair-client-list">
      <h4>Choisi votre client</h4>
      <div class="clients-list" x-data="ClientManager(<%= JSON.stringify(clients)%>)">
        <%- include('../../components/search-field.ejs') %>
        <ul>
          <template x-for="client in findClient">
            <li class="client-item" @click="selectedClient(client.id, client.firstName)">
              <div class="inital" x-text="client.firstName[0] + '' + client.lastName[0]"></div>
              <p>
                <b x-text="client.firstName + ' ' + client.lastName"></b><br>
                <span x-text="client.email"></span>
              </p>

            </li>
          </template>
        </ul>
      </div>
    </div>
    <form class="form" action="/ledgers/new" method="post">
      <% inputLegalCases.forEach(input => { %>
      <%- include('../../components/input.ejs', input) %>
      <% }) %>
      <input type="hidden" name="clientId" id="clientId" required>
      <button type="submit">Enregistre</button>
    </form>
  </div>
</dialog>
<script>
  function ClientManager(propos) {
    return {
      clients: propos,
      searchQuery: '',
      selectedClient(id, names) {
        document.getElementById('clientId').value = id
        document.getElementById('client').setAttribute('href', `/clients/${id}`)
        document.getElementById('client').innerText = names
        this.searchQuery = names

      },

      findClient() {
        return this.clients.filter((cli) => cli.firstName.toLocaleLowerCase()
          .includes(this.searchQuery.toLocaleLowerCase()) ||
          cli.lastName.toLocaleLowerCase()
          .includes(this.searchQuery.toLocaleLowerCase())
        )
      }
    }
  }

  function LedgerApp(data) {
    return {
      query: '',
      ledgers: data,
      modal: document.querySelector('.modal'),

      findLedger() {
        return this.ledgers.filter(
          (ledger) =>
          ledger.title
          .toLocaleLowerCase()
          .includes(this.query.toLocaleLowerCase()) ||
          ledger.caseType
          .toLocaleLowerCase()
          .includes(this.query.toLocaleLowerCase()) ||
          ledger.reference
          .toLocaleLowerCase()
          .includes(this.query.toLocaleLowerCase()) ||
          ledger.status
          .toLocaleLowerCase()
          .includes(this.query.toLocaleLowerCase()) ||
          ledger.client.firstName
          .toLocaleLowerCase()
          .includes(this.query.toLocaleLowerCase()) ||
          ledger.client.lastName
          .toLocaleLowerCase()
          .includes(this.query.toLocaleLowerCase())
        );
      },
      openModal() {
        this.modal.showModal()
      },
    };
  }
</script>
</body>

</html>