<%- include('../../partials/header.ejs') %>
<div class="ledger-show">
  <div class="header">
    <div class="client">
      <img src="/assets/profile.svg" alt="profile">
      <div class="client-info">
        <a href="/clients/<%= ledger.client.id %>"><%= ledger.client.firstName + ' ' + ledger.client.lastName %></a><br>
        <span><%= ledger.client.clientType %></span>
      </div>
    </div>
    <div class="info">
      <div class="createdAt">
        <svg viewBox="0 0 24 24">
          <use href="/assets/icons.svg#calendar">
        </svg>
        <p><%= luxon.DateTime.now(ledger.createdAt).setLocale('fr').toFormat("d LLLL yyyy") %></p>
      </div>
      <p class="status" data-status="<%= ledger.status %>"><%= ledger.status %></p>
    </div>
  </div>
  <div class="contents">
    <h4 class="title">Intitule</h4>
    <p><%= ledger.title %></p>
    <h4 class="title">N°reference</h4>
    <p><%= ledger.reference + '/' + ledger.caseNumber.toString().padStart(3, '0') %></p>
    <h4 class="title">type dossier</h4>
    <p><%= ledger.caseType %></p>
    <h4 class="title">Degre de priorite</h4>
    <p><%= ledger.priority %></p>
    <h4 class="title">description</h4>
    <p><%= ledger.description %></p>
  </div>
  <div class="action">
    <button class="button" type="button">Review</button>
    <button class="button" type="button">assigned To</button>
    <button class="button" type="button">Delete</button>
  </div>
</div>